<div class="sudoku-header">
    <h1>Sudoku Solver Using Back-Tracking</h1>
</div>
<div class="board">
    <div class="matrix" *ngFor="let row of sudokuBoard; index as rowIndex">
        <div class="cell" *ngFor="let item of row; index as colIndex" [ngClass]="{
            'border-left-cell': needsLeftBorder(colIndex), 
            'border-top-cell': needsTopBorder(rowIndex),
            'left-edge-border': isLeftEdge(colIndex),
            'right-edge-border': isRightEdge(colIndex),
            'top-edge-border': isTopEdge(rowIndex),
            'bottom-edge-border': isBottomEdge(rowIndex)
        }">
            <div class="item" *ngIf="item !== 0; else noItem">{{item}}</div>
            <ng-template class="item" #noItem>
                <div class="item"></div>
            </ng-template>
        </div>
    </div>
    <div class="solve-button"><button class="btn btn-primary" (click)="solve()">Solve</button></div>
</div>
